.products {
  background-color: #e8e8e8;
  max-width: 35%;
  border-radius: 15px;
  padding: 0.3rem 0;
  margin: 1rem 20%;
}

.products h2 {
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}